<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Votes</ion-title>
    <ion-buttons slot="end">
      <button class="btn btn-danger btn-sm" [routerLink]="['/login']">
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content">
  <h5 class=" h3 mb-0 text-center">Place your vote</h5>
  <div class="card" *ngFor="let bank of banks">
    <div class="card-body">
      <button class="btn btn-primary btn-block" (click)="addVote(bank)">{{ bank.name }} ({{ bank.count}})</button>
    </div>
  </div>
  <div class="content" *ngIf="leading">
    Leading vote is <span class="text-primary">{{ leading }}</span>
  </div>
</div>
</ion-content>
