<ion-content>
  <main>
    <section class="section section-shaped section-sm">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
      </div>  
      <div class="container pt-sm">
        <div class="row justify-content-center">
          <div class="col-sm-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-2">
                <div class="text-center mb-2">
                  <ion-img src="assets/img/nibbs-logo.jpeg" class="mylogo ion-padding"></ion-img>
                  <h4>Annual General Meeting</h4>
                </div>
              </div>
              <div class="card-body px-lg-4 py-lg-2">
                <div class="text-center text-muted mb-4">
                  <small>Sign up with credentials</small>
                </div>
                <form role="form">
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email" name="email" [(ngModel)]="email">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password" name="password" [(ngModel)]="password">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" placeholder="First Name" type="text" name="firstname" [(ngModel)]="firstname">
                    </div>
                  </div>
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      <input class="form-control" placeholder="Last Name" type="text" name="lastname" [(ngModel)]="lastname">
                    </div>
                  </div>
                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span>I agree with the
                            <a href="javascript:void(0)">Privacy Policy</a>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4" (click)="register()">Create account</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-6">
                <!-- <a href="javascript:void(0)" class="text-light">
                  <small>Forgot password?</small>
                </a> -->
              </div>
              <div class="col-6 text-right">
                <a [routerLink]="['/login']" class="text-light">
                  Back to Login
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>  
</ion-content>
<ion-footer>
  <ion-toolbar class="row align-items-center justify-content-md-between">
    <ion-title class="copyright text-center small">
      {{ today | date : 'yyyy'}} &copy; 
       <a href="https://www.aradhel.com" target="_blank" class="text-light">Aradhel</a>.  
    </ion-title>
  </ion-toolbar>
</ion-footer>