<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="chats">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>Chats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="files">
      <ion-icon name="folder"></ion-icon>
      <ion-label>Files</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vote">
      <ion-icon name="podium"></ion-icon>
      <ion-label>Vote</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>