<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
		</ion-buttons>
		<ion-title class="text-center">Chats</ion-title>
		<ion-buttons slot="end">
			<button class="btn btn-danger btn-sm" [routerLink]="['/login']">
				Logout
				<ion-icon name="log-out"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content #content>
	<div class="content">
		<div class=" card">
			<div class=" card-header">
				<h5 class=" h3 mb-0">Latest Chats</h5>
			</div>
			<div class=" card-body p-0">
				<div class=" list-group list-group-flush" *ngFor="let item of messages">
					<a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
						href="javascript:void(0)">
						<div class=" d-flex w-100 justify-content-between">
							<div>
								<div class=" d-flex w-100 align-items-center">
									<h5 class="mb-1">Tim</h5>
								</div>
							</div>
							<small> {{ item.timestamp | date:'hh:mm a'}} </small>
						</div>
						<p class=" text-sm mb-0"> {{ item.message }} </p>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</ion-content>
<ion-footer>
	<form>
		<div class="form-row align-items-center">
			<div class="input-group mb-3">
				<input type="text" class="form-control" placeholder="Enter your message..." aria-label="Enter your message..." 
				aria-describedby="button-addon2" [(ngModel)]="message" name="message">
				<div class="input-group-append">
					<button type="submit" class="btn btn-primary mb-2" (click)="SendMessage()" [disabled]="message.length < 1">
						<i class="fa fa-paper-plane" aria-hidden="true"></i>
					</button>
				</div>
			  </div>
		</div>
	</form>
</ion-footer>