<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Messages</ion-title>
    <ion-buttons slot="end">
      <button class="btn btn-danger btn-sm" [routerLink]="['/login']">
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content>
	<div class="content">
		<div class=" card">
			<div class=" card-header">
				<h5 class=" h3 mb-0">Latest Messages</h5>
			</div>
			<div class=" card-body p-0">
				<div class=" list-group list-group-flush" *ngFor="let item of messages">
					<a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
						href="javascript:void(0)">
						<div class=" d-flex w-100 justify-content-between">
							<div>
								<div class=" d-flex w-100 align-items-center">
									<h5 class="mb-1">{{ item.title }}</h5>
								</div>
							</div>
							<small class="badge badge-sm badge-light"> {{ item.timestamp | date }} </small>
						</div>
						<p class=" text-sm mb-0"> {{ item.message }} </p>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</ion-content>