<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <button class="btn btn-danger btn-sm" [routerLink]="['/login']">
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <div _ngcontent-c5="" class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
      <div _ngcontent-c5="" class="container-fluid">
        <div _ngcontent-c5="" class="header-body">
          <div _ngcontent-c5="" class="row">
            <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
              <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
                <div _ngcontent-c5="" class="card-body">
                  <div _ngcontent-c5="" class="row">
                    <div _ngcontent-c5="" class="col">
                      <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Traffic</h5><span
                        _ngcontent-c5="" class="h2 font-weight-bold mb-0">350,897</span>
                    </div>
                    <div _ngcontent-c5="" class="col-auto">
                      <div _ngcontent-c5="" class="icon icon-shape bg-danger text-white rounded-circle shadow"><i
                          _ngcontent-c5="" class="fas fa-chart-bar"></i></div>
                    </div>
                  </div>
                  <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5=""
                      class="text-success mr-2"><i _ngcontent-c5="" class="fa fa-arrow-up"></i> 3.48%</span><span
                      _ngcontent-c5="" class="text-nowrap">Since last month</span></p>
                </div>
              </div>
            </div>
            <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
              <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
                <div _ngcontent-c5="" class="card-body">
                  <div _ngcontent-c5="" class="row">
                    <div _ngcontent-c5="" class="col">
                      <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">New users</h5><span
                        _ngcontent-c5="" class="h2 font-weight-bold mb-0">2,356</span>
                    </div>
                    <div _ngcontent-c5="" class="col-auto">
                      <div _ngcontent-c5="" class="icon icon-shape bg-warning text-white rounded-circle shadow"><i
                          _ngcontent-c5="" class="fas fa-chart-pie"></i></div>
                    </div>
                  </div>
                  <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5=""
                      class="text-danger mr-2"><i _ngcontent-c5="" class="fas fa-arrow-down"></i> 3.48%</span><span
                      _ngcontent-c5="" class="text-nowrap">Since last week</span></p>
                </div>
              </div>
            </div>
            <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
              <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
                <div _ngcontent-c5="" class="card-body">
                  <div _ngcontent-c5="" class="row">
                    <div _ngcontent-c5="" class="col">
                      <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Sales</h5><span
                        _ngcontent-c5="" class="h2 font-weight-bold mb-0">924</span>
                    </div>
                    <div _ngcontent-c5="" class="col-auto">
                      <div _ngcontent-c5="" class="icon icon-shape bg-yellow text-white rounded-circle shadow"><i
                          _ngcontent-c5="" class="fas fa-users"></i></div>
                    </div>
                  </div>
                  <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5=""
                      class="text-warning mr-2"><i _ngcontent-c5="" class="fas fa-arrow-down"></i> 1.10%</span><span
                      _ngcontent-c5="" class="text-nowrap">Since yesterday</span></p>
                </div>
              </div>
            </div>
            <div _ngcontent-c5="" class="col-xl-3 col-lg-6">
              <div _ngcontent-c5="" class="card card-stats mb-4 mb-xl-0">
                <div _ngcontent-c5="" class="card-body">
                  <div _ngcontent-c5="" class="row">
                    <div _ngcontent-c5="" class="col">
                      <h5 _ngcontent-c5="" class="card-title text-uppercase text-muted mb-0">Performance</h5><span
                        _ngcontent-c5="" class="h2 font-weight-bold mb-0">49,65%</span>
                    </div>
                    <div _ngcontent-c5="" class="col-auto">
                      <div _ngcontent-c5="" class="icon icon-shape bg-info text-white rounded-circle shadow"><i
                          _ngcontent-c5="" class="fas fa-percent"></i></div>
                    </div>
                  </div>
                  <p _ngcontent-c5="" class="mt-3 mb-0 text-muted text-sm"><span _ngcontent-c5=""
                      class="text-success mr-2"><i _ngcontent-c5="" class="fas fa-arrow-up"></i> 12%</span><span
                      _ngcontent-c5="" class="text-nowrap">Since last month</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</ion-content>