<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center">Files</ion-title>
    <ion-buttons slot="end">
      <button class="btn btn-danger btn-sm" [routerLink]="['/login']">
        Logout
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4 class="text-center">List of files</h4>
  <hr>
  <div class=" list-group list-group-flush" *ngFor="let file of files">
    <a class=" list-group-item list-group-item-action flex-column align-items-start py-4 px-4"
      href="javascript:void(0)">
      <div class=" d-flex w-100 justify-content-between">
        <div>
          <div class=" d-flex w-100 align-items-center">
            <h5 class="mb-1">{{ file.name }} </h5>
          </div>
        </div>
        <ion-fab-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <!-- <button class="btn btn-danger btn-icon btn-sm"><ion-icon name="trash"></ion-icon></button> -->
      </div>
      
    </a>
  </div>
  <p class=" text-sm mb-0 text-right"> {{ files.length + ' files uploaded' }} </p>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="attach"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
