<ion-header>
  <ion-toolbar>
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-img src="assets/img/nibbs-logo.jpeg"></ion-img>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
    <div class="position-relative bg-primary mb-3">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-150">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">NIBBS 
                  <span>Annual General Meeting</span>
                </h1>
                <p class="lead  text-white">We cater for all financial needs.</p>
                <div class="btn-wrapper">
                  <a href="/createaccount" class="btn btn-info btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="fa fa-code"></i></span>
                    <span class="btn-inner--text">Create Account</span>
                  </a>
                  <a href="/login" class="btn btn-white btn-icon mb-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-key-25"></i></span>
                    <span class="btn-inner--text">Sign In</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
  </main>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="copyright text-center small">
      &copy; {{ today | date : 'yyyy'}} Designed and Powered by 
            <a href="https://www.aradhel.com" target="_blank">Aradhel Technologies Limited</a>.
    </ion-title>
  </ion-toolbar>
</ion-footer>
